.App {
  text-align: center;
  display: flex;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

li {
  list-style: none;
  display: flex;
  margin-bottom: 2em;
  margin-left: 1em;
}

.chord-name{
  position: relative;
  bottom: 1em;
  left: -0.25em;
}

.lyric-chunk {
  position: relative;
  left: -1em;
  padding: 0;
}

#chart {
  margin-left: 1em;
  padding-top: 1em;
}

.chord-img {
  height: 10em;
}

#song-writers {
  margin-top: -1em;
}

button {
  height: 2em;
  border-radius: 45%;
  font-family: monospace;
}

input {
  margin: 2em;
  border-radius: 50%;
  height: 10em;
  width: 10em;
  text-align: center;
  font-size: 0.5em;
}

#chord-layouts {
  display: inline-flex;
}

.chord-layout-name {
  margin-left: 0.5em;
}